<!-- ////////// MASTERPIECE ///////////// -->

<template name="masterpiece"> 
	<h2>Your Masterpiece</h2>
	<p>Please elaborate how your masterpiece meets the following specifications.</p>
  	<hr>
	<br>
	{{#each specification}}
  		{{> spec_field}}
  	{{/each}}
  	<hr>
  	<br>
  	<a href="" class="well well-large btn btn-large btn-block btn-success submit" id="submit">Submit Project</a>
</template>

<template name="spec_field"> 
	<div class="well">
		<h4>{{name}}</h4>
		<p>{{description}}</p>
		<input class="submission" id="{{_id}}" type="text" />	
	</div>
</template>

<!-- ///////////////////////////////// -->

<!-- ////////// MASTERPIECE BACKEND ///////////// -->

<template name="new_specs"> 
	{{#each specs }}
		{{> new_spec }}
	{{/each}}
	 <a href="" class="btn btn-success add" id="add_spec">Add Specification</a>
</template>

<template name="new_spec">
	<h4>Requirements Specification</h4>
	<div class="twelve columns">
	   <label for="name">Name</label><input id="name" type="text" value="{{name}}" />
	   <label for="description">Description</label><textarea id="description" style="width: 100%; height:250px;">{{description}}</textarea>
	   <br />	
	   <a href="" class="btn btn-succes delete" id="{{_id}}">Remove Field</a>
	</div>
	<hr> 
</template>


<!-- ///////////////////////////////// -->