<!-- ////////// MASTERPIECE ///////////// -->

<template name="masterpiece"> 
	<h2>Your Masterpiece</h2>
	<p>Please elaborate whether your masterpiece meets the following specifications.</p>
  	<hr>
	<br>
	{{#each specification}}
  		{{> spec_field}}
  	{{/each}}
  	<hr>
  	<br>
  	<a href="{{myMasterpiecesPath}}" class="well well-large btn btn-large btn-block btn-success submit" id="submit">Submit Project</a>
</template>

<template name="spec_field"> 
	<div class="well">
		<h4>{{name}}</h4>
		<p>{{description}}</p>
		<input class="submission" id="{{_id}}" type="text" />
	</div>
</template>

<!-- ////////// INDEX ///////////// -->

<template name="masterpieceIndex0">
	{{#with profession}}
		<p>TEST MPI</p>
	{{/with}}
</template>

<template name ="masterpieceIndex">
	{{#with profession}}
	<div class="container">
		<div class="row">
			<div class="card"  style="min-height:700px;">
				<h1>Masterpieces <small>of {{title}}</small></h1>
				<hr>
			  	<div>
	          		{{#each masterpieces}}
	          			<div class="nine columns">
	          				{{> my_masterpiece}}
	          			</div>
	          			<div class="three columns">
	          				<div class="btn">
	          					{{{newReviewLink 'Review Masterpiece' this._id}}}
	          				</div>
	          			</div>		          			
	          		{{/each}}
	          	</div>
	        </div>
		</div>
	</div>
	{{/with}}
</template>

<!-- ///////////////////////////////// -->

<!-- ////////// MASTERPIECE BACKEND ///////////// -->

<template name="new_specs"> 
	<div class="row">
		<div class="twelve columns">
			{{#each specs }}
				{{> new_spec }}
			{{/each}}
		</div>
	</div>
	<div class="row" style="margin-bottom:15px;">
		<div class="twelve columns">
			<a href="" class="btn btn-info btn-large add" id="add_spec">Add Specification</a>
			<br \>
		</div>
	</div>
</template>

<template name="new_spec">
	<div class="well" style="background-color:transparent;">
		<h4>Spec</h4>	
		<p>What skill is to be proven? Which best-practices should be evaluated? Is a demo link required? </p>
		<hr \>	
		<br>
		<label for="name">Name</label><input id="name_{{_id}}" class="edit" type="text" value="{{name}}" />
	   	<label for="description">Description</label><textarea id="description_{{_id}}" class="edit" style="width: 100%; height:250px;">{{description}}</textarea>
	   	<br />	
	   	<a href="" class="btn btn-danger delete" id="{{_id}}">Remove Field</a>
	   	<br>
	</div>
</template>

<!-- ///////////////////////////////// -->