<!-- ////// PROFESSION ////// -->
<template name="professionShow">
	{{#with profession}}
		<section id="bigbar">
			<div class="row">
				<nav class="bar-tab">
					<ul class="tab-inner">
						<li class="tab-item {{navClassFor 'inspire'}}">
							<a href="#lA" data-toggle="tab">
								<img src="{{rootPath}}courses.png" class="tab-icon"/>
								<div class="tab-label">{{title}}</div>
							</a>
						</li>
						<li class="tab-item {{navClassFor 'learn'}}">
							<a href="#lB" data-toggle="tab">
								<img src="{{rootPath}}materials.png" class="tab-icon"/>					
								<div class="tab-label">Learn Skills</div>
							</a>
						</li>
						<li class="tab-item {{navClassFor 'proof'}}">
							<a href="#lC" data-toggle="tab">
								<img src="{{rootPath}}feedback.png" class="tab-icon"/>				
								<div class="tab-label">Create 'Masterpiece'</div>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</section>
		<div class="container">
			<div class="row">
				<div class="card" style="min-height:700px;">
					<div class="row">
						<div class="twelve columns">
							<div class="tab-content">
								{{> inspire}}
								{{> learn}}
								{{> proof}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/with}}
</template>

<template name="inspire">
	<div class="tab-pane {{navClassFor 'inspire'}}" id="lA">
		<div class="nine columns">
			{{#if editing 'title'}}
			    <input id="title" class="edit" autofocus="autofocus" type="text"  style="width:100%;" value="{{title}}" />
			{{else}}
				<h2 class="editable" id="title" style="margin-bottom:1px;">{{title}}</h2>
			{{/if}}
			<br>
		</div>
		<div class="three columns">
		</div>
		<br>
		<hr style="margin:0 0 2px;">
		<br>
		<div class="six columns" style="padding-left:0px;">
			<br>
			<iframe width="100%" height="300" src={{videoUrl}} allowfullscreen
				style="border: 4px solid #DDD; margin: 0 0 10px; max-width: 100% !important;"></iframe>
		</div>
		<br>
		<div class="six columns">
			<section class="intro">
				<h3><small>What is it like to work on {{title}}?</small></h3>			
				{{#if editing 'description'}}
				    <textarea id="description" class="edit" autofocus="autofocus"  style="width:100%;height:250px;">{{description}}</textarea>
				{{else}}
					<p class="editable" id="description" style="font-size:15px;">{{description}}</p>
				{{/if}}
			</section>
		</div>
		<br>
		<hr>
		<div class="twelve columns">
			<h3><small>What skills are required to succeed in {{title}}?</small></h3>
			{{#if editing 'requirements'}}
				<textarea id="requirements" class="edit" autofocus="autofocus"  style="width:100%;height:250px;">{{requirements}}</textarea>
			{{else}}
				<p class="well editable" id="requirements">{{requirements}}</p>
			{{/if}}
			<br>
		</div>	
		<hr>
	</div>
</template>

<template name="learn">
	<div class="tab-pane {{navClassFor 'learn'}}" id="lB">
		<h4><small>{{title}}</small></h4>
		<h2>Study Materials</h2>
		<hr>
		<br>
		<div class="twelve columns">
			<div class="well">
				{{materialHTML}}
			</div>
		</div>
		<br>
		<hr>
	</div>
</template>

<template name="proof">
	<div class="tab-pane {{navClassFor 'proof'}}" id="lC">
		{{> masterpiece }}
	</div>
</template>

<!-- ////// PROFESSIONS ////// -->
<template name="professionsIndex">
	<div class="container" id="main-section">
		<div class="card">
			<div class="page">
				<div class="row" style="min-height:1000px;">
					<h2>Our Apprenticeships</h2>
					<p><b>Scholarify</b> in one of the following<b> professions</b>:</p>			
					<hr>
					{{#each professions}}
						{{> professionPin }}
					{{/each}}	
					<hr>
				</div>
			</div>
		</div>
	</div>	
</template>

<template name="professionPin">
	<div class="cardblock" style="float:left;">
		<div class="front"> 
			<img src={{imgUrl}}>
			<h4><a href="{{professionPath}}">{{title}}</a></h4>
			<br>
			<p style="font-size:13px;">{{truncated_description}}</p>
		</div>
	</div>
</template>

<!-- ////// PROFESSION BACKEND ////// -->
<template name="profession_backend">
	<div style="min-height:500px;">
		<div class="container">
			<div class="row">
				<div class="card" style="min-height:700px;">
					<h2>Apprenticeship Content</h2>
					<ul class="nav nav-tabs">
						<li class="{{navClassFor 'inspire_backend'}}">	<a href="#bA" data-toggle="tab">Job Description</a></li>
						<li class="{{navClassFor 'learn_backend'}}"><a href="#bB" data-toggle="tab">Learning Material</a></li>
						<li class="{{navClassFor 'proof_backend'}}"><a href="#bC" data-toggle="tab">Validation Criteria</a></li>
					</ul>
					<div class="row">
						<div class="twelve columns">
							<div class="tab-content">
								<div class="tab-pane {{navClassFor 'inspire_backend'}}" id="bA">{{> inspire_backend}}</div>
								<div class="tab-pane {{navClassFor 'learn_backend'}}" 		 id="bB">{{> learn_backend}}</div>
								<div class="tab-pane {{navClassFor 'proof_backend'}}" 		 id="bC">{{> proof_backend}}</div>
								<hr style="border: solid #fff;">
								{{#if error}}
        							<div class="alert alert-error">{{error}}</div>
      							{{/if}}
								<a href="{{rootPath}}" class="well well-large btn btn-large btn-block btn-success save" id="publish">Publish</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</template>

<template name="inspire_backend">
	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-info-sign" style="vertical-align:0;"></i> Job Title </p>
		</div>
		<div class="nine columns">
		    <input id="profession_title" type="text" />
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-user" style="vertical-align:0;"></i> Sponsoring Company </p>
		</div>
		<div class="nine columns">
		    <input id="profession_sponsor" type="text" />	
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-film" style="vertical-align:0;"></i> Intro Video URL </p>
		</div>
		<div class="nine columns">
		    <input id="profession_video" type="text" />	
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-film" style="vertical-align:0;"></i> Thumbnail URL </p>
		</div>
		<div class="nine columns">
			<input id="profession_image" type="text" />	
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-list" style="vertical-align:0;"></i> Job Description </p>
		</div>
		<div class="nine columns">
		    <input id="profession_description" type="text" style="width:100%;height:250px;" />	
		</div>
	</div>
	<div class="row">
		<div class="three columns">
			<p style="font-size:15px;"><i class="icon-list" style="vertical-align:0;"></i> Requirements </p>
		</div>
		<div class="nine columns">
			<input id="profession_requirements" type="text" style="width:100%;height:80px;" />	
		</div>
	</div>
</template>

<template name="learn_backend">
	<h4>Study Materials</h4>
	<textarea id="redactor_content" name="content"></textarea>
</template>

<template name="proof_backend">
	{{> new_specs }}
</template>


<!-- /////// ADMIN PROFESSIONS INDEX /////// -->

<template name="adminIndex">
	<div class="container">
		<div class="row">
			<div class="card" style="min-height:900px;">
				<h2>Our Professions</h2>
				<hr>
				{{#each professions}}
					{{> professionItem }}		
				{{/each}}
				<div class="well well-large">
				<br />
				<a href="{{new_professionPath}}" class="btn btn-large btn-block btn-info" style="font-weight:bold;">Create Course</a>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="professionItem">
	<div class="well">
		<div class="row">
			<div class="six columns">
				<div class="main img"><img src={{imgUrl}}></div>
			</div>
			<div class="six columns">
				<h4 style="margin-top:0px;margin-bottom:2px;">{{title}}</h4>
				<h4 style="margin-top:0px;">
					<small>{{sponsor}}</small> 
				</h4>
				<p>{{description}}</p>
				<td><a href="" class="btn btn-danger delete">Remove Course</a></td>
				<td><a href="{{professionPath}}" class="btn btn-success">Show Course</a></td>
			</div>
		</div>
	</div>
</template>


<!-- ///////////////////////////////////// -->
