<!-- ////// PROFESSION ////// -->
<template name="professionShow">
	{{#with profession}}
		<section id="bigbar">
			<div class="row">
				<nav class="bar-tab">
					<ul class="tab-inner">
						<li class="tab-item {{navClassFor 'inspire'}}">
							<a href="#tabA" data-toggle="tab">
								<i class="icon-lightbulb icon-2x tab-icon" style="color:white"></i>			
								<div class="tab-label">{{title}}</div>
							</a>
						</li>
						<li class="tab-item {{navClassFor 'learn'}}">
							<a href="#tabB" data-toggle="tab">
								<i class="icon-book icon-2x tab-icon" style="color:white"></i>						
								<div class="tab-label">Learn Skills</div>
							</a>
						</li>
						<li class="tab-item {{navClassFor 'proof'}}">
							<a href="#tabC" data-toggle="tab">
								<i class="icon-trophy icon-2x tab-icon" style="color:white"></i>			
								<div class="tab-label">Create 'Masterpiece'</div>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</section>
		<div class="container">
			<div class="card" style="min-height:700px;background: url(/images/textures/cream_dust.png)">
				<div class="row-fluid">
					<div class="twelve columns">
						<div class="tab-content">
							{{> inspire}}
							{{> learn}}
							{{> proof}}
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/with}}
</template>

<template name="inspire">
	<div class="tab-pane {{navClassFor 'inspire'}}" id="tabA">
		<div class="row">
			<div class="twelve columns">
				{{#if editing 'title'}}
				    <input id="title" class="edit" autofocus="autofocus" type="text"  style="width:100%;" value="{{title}}" />
				{{else}}
					<div class="page-header">
						<h2 class="editable" id="title" style="margin-bottom:1px; color:#33B3E2;">{{title}}</h2>
						<br>
					</div>
				{{/if}}
			</div>
		</div>
		<div class="row well" style="background: transparent; padding: 20px;">
			<div class="twelve columns">
				<div class="row">
					<div class="six columns">
						<iframe width="100%" height="300" src={{videoUrl}} allowfullscreen
							style="border: 1px solid #DDD; margin: 0 0 10px; max-width: 100% !important; border-radius: 5px;"></iframe>
					</div>
					<br>
					<div class="six columns">
						<section class="intro">
							<h5>What is it like to work as {{title}}?</h5>			
							{{#if editing 'description'}}
							    <textarea id="description" class="edit" autofocus="autofocus"  style="width:100%;height:250px;">{{description}}</textarea>
							{{else}}
								<p class="editable" id="description" style="font-size:15px;">{{description}}</p>
							{{/if}}
						</section>
					</div>
				</div>
			</div>
		</div>
		<div class="row well" style="background:transparent;">
			<div class="twelve columns">
				<h5>What skills are required to succeed as {{title}}?</h5>
				{{#if editing 'requirements'}}
					<textarea id="requirements" class="edit" autofocus="autofocus"  style="width:100%;height:250px;">{{requirements}}</textarea>
				{{else}}
					<p class="editable" id="requirements">{{requirements}}</p>
				{{/if}}
				<br>
			</div>	
		</div>
	</div>
</template>

<template name="learn">
	<div class="tab-pane {{navClassFor 'learn'}}" id="tabB">
		<div class="row">
			<div class="page-header">
				<h4><small>{{title}}</small></h4>
				<h2>Study Materials</h2>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<div class="well" style="background:white; min-height: 300px;">
					{{materialHTML}}
				</div>
			</div>
		</div>
		<br>
		{{#if isCreator}}
		<div class="row">
			<div class="twelve columns">
				<br>
				<hr>
				<div class="btn btn-danger editable" id="material">Edit Material</button></div>
			</div>
		</div>
		{{/if}}
	</div>
</template>

<template name="proof">
	<div class="tab-pane {{navClassFor 'proof'}}" id="tabC">
		{{> masterpiece }}

		{{#if isCreator}}
		<div class="row">
			<div class="twelve columns">
			<br>
			<hr>
			<a href="" class="btn btn-danger edit">Edit Specs</a>
			</div>
		</div>
		{{/if}}
	</div>
</template>

<!-- ////// HOME ////// -->
<template name="welcome">
	<div class="container" id="main-section">
		<div class="card" style="background: url(/images/textures/cream_dust.png);">
			<div class="page">
				<div class="row" id="how_to">
					<h2 style="text-align:center; color:#33B3E2">Crowdreviewing Engineering Mastery</h2>
					<p style="text-align:center; font-size:17px">The crowdreview community that appreciates your ability to build things and articulate professional feedback.  </p>
					<br>
					<div class="twelve columns well" style="background:transparent;">
						<div class="three columns">
							<span class="info-box">
								<div class="row" style="margin-bottom:20px;">
									 <i class="icon-lightbulb icon-3x"></i>
								</div>
								<div class="row">
									<h6 style="color:#33B3E2; font-size: 15px;">Find your Profession</h6>
								</div>
								<div class="row">
									<p style="font-size: 12px;">Silicon Valley engineers introduce their profession.</p>
								</div>
							</span>
						</div>
						<div class="three columns">
							<span class="info-box">
								<div class="row" style="margin-bottom:20px;">
									<i class="icon-book icon-3x"></i>
								</div>
								<div class="row">
									<h6 style="color:#33B3E2; font-size: 15px;">Learn Skills</h6>
								</div>
								<div class="row">
									<p style="font-size: 12px;">Find material teaching your profession.</p>
								</div>
							</span>
						</div>
						<div class="three columns">
							<span class="info-box">
								<div class="row" style="margin-bottom:20px;">
									<i class="icon-trophy icon-3x"></i>
								</div>
								<div class="row">
									<h6 style="color:#33B3E2; font-size: 15px;">Submit your Masterpiece</h6>
								</div>
								<div class="row">
									<p style="font-size: 12px;">Demonstrate your skills in a project.</p>
								</div>
							</span>
						</div>
						<div class="three columns">
							<span class="info-box">
								<div class="row" style="margin-bottom:20px;">
									<i class="icon-group icon-3x"></i>
								</div>
								<div class="row">
									<h6 style="color:#33B3E2; font-size: 15px;">Review your Peers</h6>
								</div>
								<div class="row">
									<p style="font-size: 12px;">Contribute to the community by giving feedback on projects.</p>
								</div>
							</span>
						</div>
					</div>
					<br>
				</div>
				<br>
				<div class="row" id="get_started">
					<div class="twelve columns well" style="background:transparent;">
						<div class="six columns" id="scholar_start">
							<h5>Become a <b style="color:#33b3e2;">Scholar</b> <small>open</small></h5>
							<ul>
								<li>Learn. Post Masterpieces. Get Validation.</li>
							</ul>
							<p>Just <b>start here!</b></p>
							<a href="{{professionsPath}}" class="btn btn-large btn-block btn-info">Browse Professions</a>
						</div>
						<div class="six columns" id="master_start">
							<h5>Apply as <b style="color:#33b3e2;">Master</b> <small>invite-only</small></h5>
							<ul>
								<li>Contribute. Review Masterpieces. Give Feedback.</li>
							</ul>
							<p>You can be <b>invited</b> to review <b>by another Master</b> or <b>after applying</b>.</p>
							<a href="{{masterApplicationPath}}" class="btn btn-large btn-block btn-info">Request Invitation</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<!-- ////// PROFESSIONS ////// -->
<template name="professionsIndex">
	<div class="container" id="main-section">
		<div class="card" style="background: url(/images/textures/cream_dust.png);">
			<div class="page">
				<div class="page-header">
					<h3 style="color:#33B3E2; text-align: center;">Find your Profession</h3>
					<br>
				</div>
				<div class="row" style="min-height:400px;">
					<br>
					{{#each professions}}
						{{> professionPin }}
					{{/each}}	
				</div>
			</div>
		</div>
	</div>	
</template>

<template name="professionPin">
	<div class="cardblock" style="float:left;">
		<div class="front"> 
			<img src={{imgUrl}}>
			<h4><a href="{{professionPath}}">{{title}}</a></h4>
			<br>
			<p style="font-size:13px;">{{truncated_description}}</p>
		</div>
	</div>
</template>

<!-- ////// PROFESSION BACKEND ////// -->
<template name="profession_backend">
	<div style="min-height:500px;">
		<div class="container">
			<div class="row">
				<div class="card" style="min-height:700px;">
					<div class="page-header">
						<h3>Create a Profession Profile</h3>
					</div>
					<ul class="nav nav-pills">
						<li class="{{navClassFor 'inspire_backend'}}">	<a href="#tabA" data-toggle="tab">Describe Profession</a></li>
						<li class="{{navClassFor 'learn_backend'}}"><a href="#tabB" data-toggle="tab">Teaching Material</a></li>
						<li class="{{navClassFor 'proof_backend'}}"><a href="#tabC" data-toggle="tab">Validation Criteria</a></li>
					</ul>
					<div class="row">
						<div class="twelve columns">
							<div class="tab-content">
								<div class="tab-pane {{navClassFor 'inspire_backend'}}" id="tabA">{{> inspire_backend}}</div>
								<div class="tab-pane {{navClassFor 'learn_backend'}}" 		 id="tabB">{{> learn_backend}}</div>
								<div class="tab-pane {{navClassFor 'proof_backend'}}" 		 id="tabC">{{> proof_backend}}</div>
								{{#if error}}
        							<div class="alert alert-error">{{error}}</div>
      							{{/if}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="twelve columns">
							<div class="well">
								<p>
									Publish the profession profile once you've provided information <b>describing</b> the profession, linked to <b>study material</b> teaching the skills required to pursue the profession, and defined the <b>validation criteria</b> as a guideline for project submissions proving those skills. 
								</p>
							</div>
							<br \>
							<a href="{{rootPath}}" class="well well-large btn btn-large btn-block btn-success save" id="publish">Publish</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</template>

<template name="inspire_backend">
	<div class="row">
		<div class="twelve columns">
			<div class="well">
				<h4>Describe your Profession</h4>
				<p> The objective of this section is to provide guidance and inspiration to budding engineers thinking about how to plan their career.</p>
				<p>Please fill out the form, providing details about the profession you are promoting.</p>
			</div>
		</div>
	</div>
	<div class="well" style="background-color: transparent;">
		<div class="row">
			<div class="three columns">
				<p style="font-size:15px;"><i class="icon-info-sign" style="vertical-align:0;"></i> Profession Title: </p>
			</div>
			<div class="nine columns">
			    <input id="profession_title" type="text" />
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<p style="font-size:15px;"><i class="icon-user" style="vertical-align:0;"></i> Sponsoring Companies: </p>
			</div>
			<div class="nine columns">
			    <input id="profession_sponsor" type="text" />	
			</div>
			<!-- ToDo: tag companies, tag technologies-->
		</div>
		<div class="row">
			<div class="three columns">
				<p style="font-size:15px;"><i class="icon-film" style="vertical-align:0;"></i> Intro Video URL: </p>
			</div>
			<div class="nine columns">
			    <input id="profession_video" type="text" />	
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<p style="font-size:15px;"><i class="icon-film" style="vertical-align:0;"></i> Thumbnail URL: </p>
			</div>
			<div class="nine columns">
				<input id="profession_image" type="text" />	
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<p style="font-size:15px;"><i class="icon-list" style="vertical-align:0;"></i> Description: </p>
			</div>
			<div class="nine columns">
			    <input id="profession_description" type="text" style="width:100%;height:250px;" />	
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<p style="font-size:15px;"><i class="icon-list" style="vertical-align:0;"></i> Requirements: </p>
			</div>
			<div class="nine columns">
				<input id="profession_requirements" type="text" style="width:100%;height:80px;" />	
			</div>
		</div>
	</div>
</template>

<template name="learn_backend">
	<div class="row">
		<div class="twelve columns">
			<div class="well">
				<h4>Point to Learning Material</h4>
				<p>The objective of this section is to help budding engineers to find the resources necessary to learn you profession.</p>
				<p>Please link to online teaching material that is freely accessible. Feel free to put the material into context.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<div>
				<textarea id="redactor_content" name="content"></textarea>
			</div>
		</div>
	</div>
	<br \>
</template>

<template name="proof_backend">
	<div class="row">
		<div class="twelve columns">
			<div class="well">
				<h4>Specify Validation Criteria for Masterpieces</h4>
				<p>The objective of this section is to help Scholars identify what to incorporate into their Masterpiece project. By submitting Masterpieces, our budding engineers are asked to demonstrate the mastery of a profession. This section also serves as a guideline for peer-reviewers, structuring their evalution process.
				</p>
				<p>So, please specify the skills you want to see proven within a masterpiece. This may include the demonstration of</p> 
				<ul>
					<li>specific technical skills (e.g. JavaScript, NoSQL etc.),</li><br>
					<li>generally relevant best practices (e.g. Test-Driven-Development, DRY Code etc.),</li><br>
					<li>requests for demo sources (e.g. "Link to your GitHub repository").</li>
			</div>
		</div>
	</div>
	{{> new_specs }}		
</template>


<!-- /////// ADMIN PROFESSIONS INDEX /////// -->

<template name="adminIndex">
	<div class="container">
		<div class="row">
			<div class="card" style="min-height:900px;">
				<h2>Our Professions</h2>
				<hr>
				{{#each professions}}
					{{> professionItem }}		
				{{/each}}
				<div class="well well-large">
				<br />
				<a href="{{new_professionPath}}" class="btn btn-large btn-block btn-info" style="font-weight:bold;">Create Course</a>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="professionItem">
	<div class="well">
		<div class="row">
			<div class="six columns">
				<div class="main img"><img src={{imgUrl}}></div>
			</div>
			<div class="six columns">
				<h4 style="margin-top:0px;margin-bottom:2px;">{{title}}</h4>
				<h4 style="margin-top:0px;">
					<small>{{sponsor}}</small> 
				</h4>
				<p>{{description}}</p>
				<td><a href="" class="btn btn-danger delete">Remove Course</a></td>
				<td><a href="{{professionPath}}" class="btn btn-success">Show Course</a></td>
			</div>
		</div>
	</div>
</template>


<!-- ///////////////////////////////////// -->
