<!-- NEW -->
<template name="new_review">
	<div class="container">
		<div class="row">
			<div class="card" style="min-height:700px; background: #fdfdfd">
				<div class="row page-header">
					<div class="twelve columns">
						<h2>Review this Masterpiece</h2>
					</div>
				</div>
				<div class="row" style="margin-top:15px;">
					<div class="twelve columns">
						{{#each chapters}}
							<div class="row">
								{{> newChapterReview }}
							</div>
		  				{{/each}}
					</div>
				</div>
				{{{reviewMoreLink 'Submit Review'}}}
			</div>
		</div>
	</div>
</template>

<template name="newChapterReview">				    
  	<div class="twelve columns well" style="background: url(/images/textures/cream_dust.png)">
  		<div class="row">
  			<div class="five columns">
		    	<h5>
		      		{{name}}
		    	</h5>
		    	<p><i>
		    		{{description}}
		    	</i></p>
		    	<div class="well" style="background:transparent; min-height:75px;">
		    		{{submission}}
		    	</div>
	    	</div>
	    	<div class="seven columns">
	    		<div class="row">
		    		<h5>Your Feedback:</h5>
		    		<p>Does the project meet the specification: <b><i>{{name}}</i></b>?</p>
				      <textarea id="{{_id}}" class="review" style="width:100%;"></textarea>
				</div>
			    <div class="row">
			    	<h5>Your Score: </h5>
			    	<p>Please rate from <b>0 stars</b> (<i>insufficient</i>) to <b>5 stars</b> (<i>brilliant</i>):</p>
	    			<div class="star" id="{{_id}}"></div>
	    			<br>
				</div>
	     	</div> 
  		</div>
  	</div>
</template>

<!-- INDEX -->
<template name="masterpieceReviews">
	{{#with masterpiece}}
	<div class="container">
		<div class="row">
			<div class="card" style="min-height:700px;">
				<div class="row page-header">
					<div class="twelve columns">
				    	<h3>Reviews</h3>
					</div>		        
			    </div>
			    <br>
			    {{#each reviews}}
			    <div class="row">
			    	<div class="twelve columns">
			    		{{> showReviewSummary}}
			    	</div>
			  	</div>
			  	{{/each}}
			</div>
		</div>
	</div>
	{{/with}}
</template>

<template name="showReviewSummary">
	<div class="well" style="background: url(/images/textures/cream_dust.png)">
		<div class="row">
			<div class="six columns">
				<h5>
		      		Review
		    	</h5>
		    	<div class="star"></div>
			</div>
			<div class="six columns">
				{{{showReviewLink 'Show Feedback' this._id}}}
			</div>
		</div>
  	</div>
</template>

<!-- SHOW -->
<template name="showReview">
	{{#with review}}
	<div class="container">
		<div class="row">
			<div class="card" style="min-height:700px;">
				<div class="row">
					<div class="twelve columns">
						<h2>Review</h2>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						{{#each review.chapters}}
							{{> showChapterReview }}
		  				{{/each}}
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/with}}
</template>

<template name="showChapterReview">
	<div class="twelve columns well" style="background: url(images/textures/cream_dust.png)">
	    	<div class="five columns">
		    	<h5>
		      		{{name}}
		    	</h5>
		    	<p>
		    		{{description}}
		    	</p>
		    	<hr>
		    	<p>
		    		{{submission}}
		    	</p>
	    	</div>
	    	<div class="seven columns">
	    		<h5>Feedback:</h5>
	    		<p>Does your project meet the specification: <b>{{name}}</b>?</p>    		
			      <p>{{review}}</p>
			    <hr>
			    <div class="row">
			    	<div class="three columns"><h5>Your Score: </h5></div>
				    <div class="four columns">
				    	<!--div id="star"></div>
				    	<div id="star"></div>
				    	<div id="star"></div>
				    	<div id="star"></div>
				    	<div id="star"></div-->
					</div>
				</div>
	     	</div> 
	  	</div>
</template>
